@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400; /* Normal */
  font-size: 16px; /* Increase font size for better readability */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Light gray background */
}

h1,
p {
  margin: 0;
  padding: 0;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button  {
  border: 1px solid #000000;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.50s;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
 
}
.button::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}
.button::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background:rgb(230, 129, 46);
  z-index: -1;
  transition: 0.50s;
}

.button:hover::before{
  height: 150%;
}

/* .button:hover {
  background-color:rgb(230, 129, 46); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
} */

.items-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.item {
  border: 1px solid black;
  padding: 10px;
  min-width: 150px;
  min-height: 100px;
  margin: 10px;
  border-radius: 8px; /* Slightly rounded corners */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #facfad; /* Dark gray background */
}
.item:hover{
    background-color:rgb(230, 129, 46); /* Darker green on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add subtle shadow on hover */
  }


.category {
  color: #95a5a6; /* Light gray text color */
  font-size: 12px; /* Smaller font size for category */
}

.active {
  background-color: rgb(230, 129, 46); 
  color: #fff;
}
